@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}

<script src="~/Scripts/Aksu.js"></script>

<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="/Login/LoginKontrol" method="post">
        <h3 class="form-title">Giriş</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>
               Henüz Giriş Yapılmadı.
            </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Adınız" value="aksu" name="kullaniciAdi" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" value="123" placeholder="Şifre" name="sifre" />
            </div>
        </div>
        <div class="form-actions"> 
            <button type="submit" onclick="mes()"  class="btn blue pull-right">
                Giriş <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div> 
        	<div class="create-account">
			<p>
				Yeni Kayıt olmak için&nbsp;<a href="javascript:;"  id="register-btn">
			Tıklayınız. </a>
			</p>
		</div>
    </form>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    
    <!-- END FORGOT PASSWORD FORM -->
    <!-- BEGIN REGISTRATION FORM -->
    <form class="register-form" action="/Kayitol/Create" method="post">
        <h3>KAYIT OL</h3>
        <p>
           KİŞİSEL BİLGİLERİNİZ :
        </p>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Full Name</label>
            <div class="input-icon">
                <i class="fa fa-font"></i>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Ad" name="Adi" />
            </div>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Email</label>
            <div class="input-icon">
                <i class="fa fa-envelope"></i>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Soyad" name="Soyadi" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Address</label>
            <div class="input-icon">
                <i class="fa fa-check"></i>
                <input class="form-control placeholder-no-fix" type="text" placeholder="E-Posta" name="Email" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">City/Town</label>
            <div class="input-icon">
                <i class="fa fa-location-arrow"></i>
                <input class="form-control placeholder-no-fix" type="password" placeholder="Şifre" name="Sifre" />
            </div>
        </div>
           <div class="form-group" id="onlynumbers">
            <label class="control-label visible-ie8 visible-ie9">City/Town</label>
            <div class="input-icon">
                <i class="fa fa-location-arrow"></i>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Telefon" name="Telefon" />
            </div>
        </div>
        <div class="form-group" id="onlynumber">
            <label class="control-label visible-ie8 visible-ie9"></label>
            <div class="input-icon">
                <i class="fa fa-location-arrow"></i>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Kapino" name="Kapino" />
            </div>
            <br />
        </div>
        <h2>SİTE SEÇİNİZ</h2>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9" >Site : </label>
            <select name="SiteId" id="Site"  class="select2 form-control"></select>
        </div>
        <h2>BLOK SEÇİNİZ</h2>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9" >Blok : </label>
            <select name="BlokId" id="Blok" class="select2 form-control"></select>
        </div>


        <div class="form-actions">
            <button id="register-back-btn" type="button" class="btn">
                <i class="m-icon-swapleft"></i> Back
            </button>
            <button type="submit" id="register-submit-btn" class="btn blue pull-right">
               Kaydı Tamamla<i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
    </form>
    <!-- END REGISTRATION FORM -->
</div>

<style>
    #register-btn {
        color: white;
    }
    #Site option {
        color: #999;
    }
</style>
<script type="text/javascript">
    //$("#Site").change(function (e) {
    //    tgAjx("", "/Login/GetBlok?id=" + 5, function (f) {
    //        $('#Blok')[0].innerHTML = "";
    //        var liste = ""
    //        for (var i = 0; i < f.length; i++) {
    //            liste += "<option value='" + f[i].Id + "'> <i class='fa fa-key'> </i>" + f[i].BlokAdi + "</option>";
    //        }
    //        $('#Blok')[0].innerHTML = liste;
    //    });
    //});
    
    $("#onlynumbers").bind('keypress', function (e) {
        if (e.keyCode == '9' || e.keyCode == '16') {
            return;
        }
        var code;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        if (e.which == 46)
            return false;
        if (code == 8 || code == 46)
            return true;
        if (code < 48 || code > 57)
            return false;
    });

    //Disable paste
    $("#onlynumbers").bind("paste", function (e) {
        e.preventDefault();
    });

    $("#onlynumbers").bind('mouseenter', function (e) {
        var val = $(this).val();
        if (val != '0') {
            val = val.replace(/[^0-9]+/g, "")
            $(this).val(val);
        }
    });


    $("#onlynumber").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            $("#errormsg").html("Digits Only").show().fadeOut("slow");
            return false;
        }
    });


    function mes(){

  
    tgAjx("", "/Login/LoginKontrol",  function (e) {
            if (e) {
                window.location("Admin", "Index");
            }
            else
                window.location("Login", "Index");
        });
    }
    
    $(document).ready(function (e) {
        $('#Site').select2()
        .on("select2-close", function () {
            tgAjx("", "/Login/GetBlok?id=" + $('#Site').val(), function (f) {
                    $('#Blok')[0].innerHTML = "";
                    var liste = ""
                    for (var i = 0; i < f.length; i++) {
                        liste += "<option value='" + f[i].Id + "'> <i class='fa fa-key'> </i>" + f[i].BlokAdi + "</option>";
                    }
                    $('#Blok')[0].innerHTML = liste;
                });
        })
        tgAjx("", "/Login/GetSite", function (e) {
            $('#Site')[0].innerHTML = "";
            var liste = ""
            for (var i = 0; i < e.length; i++) {
                liste += "<option value='" + e[i].Id + "'> <i class='fa fa-key'> </i>" + e[i].Siteadi + "</option>";
           }
            $('#Site')[0].innerHTML = liste;
        });
    });
   
 
    
</script>